/* ---------------- root ----------------  */

:root {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;

	/* ------- all vars ------- */

	--bgc-main: #ddd;
	--bgc-secondary: #1e1e24;
	--slider-thumb-color: #3498db;

	--fc-main: #000;
	--fc-secondary: #fff;

	--transition-main: .3s;

	--bdrs-main: .3rem;
}

/* ---------------- body ---------------- */

body {
	background: var(--bgc-main);
	color: var(--fc-main);

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;

	height: 100vh;
	width: 100vw;

	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar {
	width: 0.25rem;
	height: 0.25rem;
}

body::-webkit-scrollbar-track {
	background: var(--main-color);
}

body::-webkit-scrollbar-thumb {
	background: var(--slider-thumb-color);
}

/* ---------------- presseble-btn ----------------  */

.presseble-btn {
	padding: 1rem;
	margin-top: 1rem;

	background-color: var(--bgc-secondary);
	border-radius: var(--bdrs-main);

	font-weight: bolder;
	color: #fff;
	font-size: 1.25rem;

	transition: all calc(var(--transition-main) / 2) 0s ease-in-out;
	will-change: transform;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;

	user-select: none;
}

.small-btn {
	transform: scale(.9);
}

/* ---------------- mobile styles ---------------- */

@media only screen and (min-width : 0px) and (max-width : 580px) {
	/* от max-width до min-width (размер экрана) */
}