/* ---------------- root ----------------  */

:root {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;

	/* ------- all vars ------- */

	--bgc-primary: #ddd;
	--bgc-secondary: #1e1e24;
	--slider-thumb-color: #3498db;

	--fc-primary: #000;
	--fc-secondary: #fff;

	--transition-primary: .3s;
	--transition-secondary: calc(var(--transition-primary) / 2);

	--bdrs-primary: .3rem;
}

/* ---------------- body ---------------- */

body {
	background: var(--bgc-primary);
	color: var(--fc-primary);

	transition: all var(--transition-primary);
  -moz-transition: all var(--transition-primary);
  -webkit-transition: all var(--transition-primary);
  -o-transition: all var(--transition-primary);

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;

	height: 100vh;
	width: 100vw;

	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar {
	width: 0.25rem;
	height: 0.25rem;
}

body::-webkit-scrollbar-track {
	background: var(--bgc-primary);
}

body::-webkit-scrollbar-thumb {
	background: var(--slider-thumb-color);
}

.material-icons {
	user-select: none;
}

/* ---------------- presseble-btn ----------------  */

.showcase-btn {
	margin-top: 1rem;
	padding: 1rem;

	background-color: var(--bgc-secondary);
	border-radius: var(--bdrs-primary);

	font-weight: bolder;
	color: var(--fc-secondary);
	font-size: 1.25rem;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;

	user-select: none;
}

.presseble-btn {
	transition: all calc(var(--transition-primary) / 2) 0s ease-in-out;
	will-change: transform;
}

.small-btn {
	transform: scale(.9);
}

/* ---------------- theme toggler ---------------- */

.theme-toggler {
	background-color: var(--bgc-secondary);
	color: var(--fc-secondary);

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;

	border-radius: var(--bdrs-primary);

	position: absolute;
	top: 1rem;
	right: 1rem;
	padding: .75rem;

	transition: all var(--transition-primary);
  -moz-transition: all var(--transition-primary);
  -webkit-transition: all var(--transition-primary);
  -o-transition: all var(--transition-primary);
}

.calc-row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.calc-btn	{
	--size: 5rem;
	height: var(--size);
	width: var(--size);
	margin: .25rem;

	background-color: #4285f4;

	color: var(--fc-secondary);
	font-weight: bolder;
	font-size: 1.5rem;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;

	border-radius: var(--bdrs-primary);

	cursor: pointer;

	user-select: none;
}

.result-window {
	background-color: var(--bgc-secondary);
	color: var(--fc-secondary);

	border-radius: var(--bdrs-primary);

	width: 20.5rem;
	height: 5rem;
	margin: 0rem 0rem .25rem .25rem;
	padding-left: 1rem;

	font-size: 2rem;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
	-ms-align-items: center;
	align-items: center;

	border: none;

	transition: var(--transition-primary);
}

/* ---------------- mobile styles ---------------- */

@media only screen and (min-width : 0px) and (max-width : 580px) {
	/* от max-width до min-width (размер экрана) */
}