@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/* Default styles */

body {
	margin: 0;
	padding: 0;

	background-color: #17141d;
	color: #fff;

	font-family: 'DM Sans', sans-serif;
}

.card-list {
	display: flex;
	padding: 3rem;

	overflow: scroll;
}

.card {
	display: flex;
	position: relative;
	flex-direction: column;

	height: 21.875rem;
	width: 25rem;
	min-width: 15.625rem;
	padding: 1.5rem;

	border-radius: 16px;
	background-color: #17141d;
	box-shadow: -1rem 0 3rem #000;

	transition: .3s;
}

.card-list::-webkit-scrollbar {
  width: .625rem;
  height: .625rem;
}
.card-list::-webkit-scrollbar-thumb {
  background: #201c29;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
}

.card-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}

.card:hover {
	transform: translateY(-1rem);
}

.card:hover~.card {
	transform: translateX(8.625rem);
}

.card:not(:first-child) {
	margin-left: -8.625rem;
}

.author-avatar {
	display: grid;
	position: relative;
	grid-template-columns: 4.6875rem 1fr;
	align-items: center;

	margin: 3rem 0rem 0rem;
}

.author-avatar img {
	display: block;

	width: 2.5rem;
	height: 2.5rem;
	margin: 1rem 0.625rem;
	border-radius: 50%;

	filter: grayscale(100%);

	overflow: hidden;
}

.half-circle {
	position: absolute;
	bottom: 0;
	left: 0;

	width: 3.75rem;
	height: 3rem;

	fill: none;
	stroke: #ff8a00;
	stroke-width: 8;
	stroke-linecap: round;
	pointer-events: none;
}

.author-name-prefix {
	font-style: normal;
	color: #7a7a8c;
}

.card-header h2:hover {
	background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}