
/*root*/

:root
{
	font-size: 16px;
	font-family: 'Roboto', sans-serif;

	--main-color: #cacaca;
	--slider-thumb-color: #3498db;
}

/*body*/

body
{
	background: var(--main-color);

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	height: 100vh;
	width: 100vw;

	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar
{
	width: 0.25rem;
	height: 0.25rem;
}

body::-webkit-scrollbar-track
{
	background: var(--main-color);
}

body::-webkit-scrollbar-thumb
{
	background: var(--slider-thumb-color);
}

.selecting-leng
{
	margin: 1rem;
}

textarea
{
	width: 12rem;
	height: 5rem;

	text-align: center;
}

.convert-start-btn, .variation-start-btn
{
	width: 7rem;

	text-align: center;

	background-color: #3498db;
	color: #fff;

	padding: 1rem 2rem 1rem 2rem;
	border-radius: .3rem;

	font-weight: bolder;

	transition: .3s;

	border: 1px solid #3498db;
}

.variation-start-btn
{
	margin-top: 1rem;
}

.convert-start-btn:hover, .variation-start-btn:hover
{
	background-color: transparent;
	color: #000;
}

.result, .result-reversed, .result-variated, .result-coded
{
	margin-top: 1rem;
	padding: 1rem;

	background-color: #fff;

	border-radius: .3rem;

	font-weight: bolder;

	min-width: 6rem;
	max-width: 12rem;
	height: auto;
}

.deskr
{
	margin-bottom: 1rem;

	font-weight: bolder;
}

hr
{
	height: 1px;
	width: 100vw;

	background-color: #000 !important;

	border: none;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.first-row
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

td
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;

	margin: 1rem;
}

tr
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.shift
{
	margin-top: 1rem;
}