
/*root*/

:root
{
	font-size: 16px;
	font-family: 'Roboto', sans-serif;

	--main-color: #cacaca;
	--slider-thumb-color: #3498db;
	--transition-primary: .3s;
}

/*body*/

body
{
	background: #fff;
	color: #fff;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	width: 100vw;

	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar
{
	width: 0.25rem;
	height: 0.25rem;
}

body::-webkit-scrollbar-track
{
	background: #616161;
}

body::-webkit-scrollbar-thumb
{
	background: var(--slider-thumb-color);
}

.selecting-leng
{
	margin: 1rem;
}

textarea
{
	width: 12rem;
	height: 5rem;

	text-align: center;

	font-size: 1rem;
}

.convert-start-btn, .variation-start-btn, .reset-btn
{
	width: 7rem;

	text-align: center;

	background-color: #3498db;
	color: #fff;

	padding: 1rem 2rem 1rem 2rem;
	border-radius: .3rem;

	font-weight: bolder;

	transition: var(--transition-primary);

	border: 1px solid #3498db;
}

.reset-btn {
	width: 2.5rem;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-content: center;
	justify-content: center;
}

.variation-start-btn
{
	margin-top: 1rem;
}

.convert-start-btn:hover, .variation-start-btn:hover, .reset-btn:hover
{
	background-color: transparent;
	color: #000;
}

div[class*="result"]
{
	margin-top: 1rem;
	padding: 1rem;

	background-color: #fff;
	color: black;

	border-radius: .3rem;

	font-weight: bolder;

	min-width: 6rem;
	max-width: 12rem;
	min-height: 1rem;
}

.deskr
{
	margin-bottom: 1rem;

	font-weight: bolder;
}

hr
{
	height: 1px;
	width: 100vw;

	background-color: #000 !important;

	border: none;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.first-row
{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.shift
{
	margin-top: 1rem;
}

.counter {
	margin: 1rem;
	border-radius: .3rem;

	font-size: 2rem;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;

	background-color: #3498db;

	transform: scale(1);
}

.counter-minus, .couter-plus {
	color: #fff;
	margin: .5rem 1rem .5rem 1rem;

	transition: .15s;
}

.icon-small {
	transform: scale(.95);
}

.shift {
	padding: .25rem;

	font-size: 1.15rem;

	width: 5rem;

	text-align: center;
}

.copy-btn, .paste-btn {
	font-size: 1.25rem;

	margin: 1rem .5rem;
	padding: 1rem;
	border-radius: .3rem;

	width: 1rem;
	height: 1rem;

	background: #3498db;
	color: #fff;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;

	transition: var(--transition-primary);
}

.copy-btn:hover, .paste-btn:hover {
	font-size: 1.5rem;
}

.small-icon {
	transform: scale(.95);
}

.clipboard-btns {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}

/* Toasts */

.toast-container
{
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.toast
{
	position: relative;

	background-color: #1e1e24;
	color: #fff;

	padding: 1rem;
	margin-top: .5rem;

	text-align: center;

	opacity: 100;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.toast > div
{
	color: #eeff41;

	font-weight: bolder;

	text-transform: uppercase;

	margin-left: 1rem;
}


.toast-moved-down
{
	margin-top: 2rem;

	opacity: 0;
}

.toast-moved-up
{
	margin-top: -2rem;

	opacity: 0;
}

.button-small
{
	transform: scale(0.9);
}

.collabsible
{
	background-color: #616161;
	-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);

	width: 80%;
	border-radius: .2rem;
	padding: 0;

	list-style-type: none;
	color: var(--font-color);

	transition: var(--transition-primary);
}

.collabsible-header
{
	padding: 1rem 1.5rem 1rem 1.5rem;

	border-bottom: 1px solid #ddd;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;

	cursor: pointer;
}

.collabsible li:last-child .collabsible-header
{
	border-bottom: none;
}

.collabsible-body
{
	opacity: 0;

	height: 0px;
	padding: 0rem 1.5rem 0rem 1.5rem;

	overflow: hidden;

	transition: var(--transition-primary);
}

.collabsible-body-show
{
	display: block;
	opacity: 1;

	height: 0px;
	height: 100px;
	border-bottom: 1px solid #ddd;

	padding: 1.5rem;

	color: var(--font-color);
}

.collabsible li:last-child .collabsible-body-show
{
	border-top: 1px solid #ddd;
	border-bottom: none;
}

.material-icons
{
	margin-right: .75rem;

	color: var(--font-color);

	transition: var(--transition-primary);

	user-select: none;
}

.drop-down-trigger
{
	color: var(--font-color);

	transition: var(--transition-primary);

	width: 2.5rem;
	height: 2.5rem;

	background-color: #616161;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;

	border-radius: 50%;

	position: absolute;
	top: 1rem;
}

.drop-down-content
{
	position: absolute;
	padding: 1rem;
	margin-top: 2rem;
	width: auto;

	background-color: #616161;

	color: var(--font-color);

	opacity: 0;

	transition: var(--transition-primary);

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;

	border-radius: .3rem;
}

ul {
  list-style-type: none;

  padding: 0;
}

.drop-down-content::before
{
	content: '';

	width: 1rem;
	height: 1rem;

	position: absolute;

	top: -.5rem;

	background-color: #616161;

	transform: rotate(45deg);

	transition: var(--transition-primary);
}

.drop-down-content-show
{
	margin-top: 1rem;

	opacity: 1;
}

.align-all-center {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;

	text-align: center;

	width: 100%;
	height: 100%;
}

.result-halfcaps {
	display: none;
}

@media only screen and (max-width: 600px)
{
	.toast-container
	{
		position: absolute;
		right: 0rem;
		bottom: 0rem;
		top: 0rem;

		width: 100vw;
		height: 1rem;
	}

	.toast
	{
		width: 93.5%;
		margin-top: .25rem;
	}
}